/* Need to be implemented */
body {
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg') rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.container {
    padding: 0px 20px 10px 10px;
    margin: 145px 0px;
    width: 400px;
    min-height: 300px;
    max-height: 600px;
    background: white;
    border-radius: 5px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-style: italic;
    text-align: center;
    font-size: 1.0em;
    font-weight: lighter;
}

.btnContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footButton {
    margin-top: 2px;
    margin-left: 15px;
    padding: 4px 15px;
    border-radius: 20px;
    border: 0px;
    font: 400 15px Arial;
    color: #fc999b;
    cursor: pointer;
}

.footButton:focus, .footButtonChecked {
    margin-top: 2px;
    margin-left: 15px;
    padding: 4px 15px;
    border-radius: 20px;
    border: 1px solid #fc999b;
    font: 400 15px Arial;
    color: white;
    background-color: #fc999b;
    cursor: pointer;
    transition: background 0.8s;
}

#itemsContainer {
    display: block;
    width: 400px;
}

#addItemSection {
    display: flex;
    justify-content: center;
}

#itemToAdd {
    width: 240px;
    margin-right: 10px;
    padding-left: 7px;
    border: 0px;
    border-bottom: 2px solid #000000;
    font-size: 15px;
}

.addButton {
    border-radius: 15px;
    background-color: #f8b7b8;
    padding: 4px 15px 3px 15px;
    border: 2px solid #fc999b;
}

#listItemSection {
    display: block;
    font-size: 16px;
    max-height: 280px;
    min-height: 150px;
    overflow: auto;
    padding: 0px 20px;
}

ol li {
    padding: 5px 0px 5px 2px;
    width: 303.33px;
}

ol li:nth-child(even) {
    background: #f4ecec;
}

.COMPLETED {
    color: #999;
    text-decoration: line-through;
}

.deleteButton {
    background-image: url(../images/delete.png);
    opacity: inherit;
    border: 0px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    position: absolute;
    right: 485px;
    display: none;
}

ol li:hover .deleteButton {
    display: inline;
}
